body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    background-color: 141414;
    color: seagreen;
}

.input-name ::placeholder {
    color: black;
}
.input-email ::placeholder{
    color: black;
}
.input-subject ::placeholder{
    color: black;
}
.input-message ::placeholder{
    color: black;
}

.btn {
    height: 40px;
    border: none;
    padding: 10px 16px;
    border-radius: 12px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.btn-sign-in {
    background-color: seagreen;
}

.btn-sign-up {
    background-color: 29384D;
    color:#fff;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 36px;
}

input {
    height: 56px;
    border-radius: 12px;
    border: 1px solid #383838;
    outline: none;
    width: 456px;
    padding: 0 8px 0 16px;
    background-color: seagreen;
    color: #fff;
}

.input-name {
    display: flex;
    gap: 24px;
}

.input-name input {
    width: 204px;

}

.btn-submit {
    background-color: seagreen;
    width: 480px;
}
.contact-container{
    margin-top: 200px;
}
.footer{
    margin-top: 150px;
}
